@model ViewModels.PortfolioDetailViewModel
@{
    ViewBag.ogType = "article";
    ViewBag.ogUrl = "https://zavoshsoftware.com/portfoliodetail/" + @Model.UrlParameter;
    ViewBag.ogImage = "https://zavoshsoftware.com/" + @Model.ImageUrl;
    ViewBag.ogSitename = "شرکت زاوش";
}
@section footerStyle{<link href="~/Assets/css/style.min.css" rel="stylesheet" />
	<link href="~/Assets/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
}
@section StructuredData
{
    
	<script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Article ",
        "mainEntityOfPage":
        {
        "@@type":"WebPage",
        "@@id":"@ViewBag.Canonical"
        },
        "headline":"@ViewBag.Title",
        "image":["@ViewBag.image"],
        "datePublished":"@ViewBag.creationDate",
        "dateModified": "@Model.DateModified",
        "author":
        {
        "@@type":"Person",
        "name":"زاوش"
        },
        "publisher":
        {
        "@@type":"Organization",
        "name":"زاوش",
        "logo":{
        "@@type":"ImageObject",
        "url":"https://zavoshsoftware.com/Images/backgrounds/logozavosh.png"
        }
        },
        "description":"@ViewBag.Description"
	        }
    </script>

}
<div id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">زاوش</a></li>
                    <li><a href="/portfolio/@Model.PortfolioGroupUrlParameter">@Model.PortfolioGroupTitle</a></li>
                    <li class="active">@Model.Title</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="blog-article">
                <div class="blog-article-thumbnail">
                    <img src="@Model.ImageUrl" alt="@Model.Title" />
                </div>
                <div class="blog-article-details">
                    <span>@Model.Date</span>
                    <h1>@Model.Title</h1>
                    <p>
                        <i class="miu-icon-other_conversation_review_comment_bubble_talk_outline_stroke"></i>
                    </p>
                </div>
                @Html.Raw(Model.Body)
                <p class="url-box">
                    <div class="row">
                        <div class="col-md-3 rating-link">
                            <a href="@Model.UrlAddress" target="_blank" rel="nofollow" class="btn btn-info">مشاهده وب سایت</a>
                        </div>
                    </div>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <aside>
                <div class="widget widget-categories">
                    <div class="widget-title">سایر نمونه کارها</div>
                    <ul>
                        @foreach (var page in Model.SidebarPages)
                        {
                            <li><a href="/Portfoliodetail/@page.UrlParameter">@page.Title</a></li>
                        }
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/UI/custom.js"></script>
}

 